<!DOCTYPE html>
<html>
<head>
    <title>Abandoned Cart</title>
</head>
<body>
    <h1>Articles recommandés:</h1>
    <table>
        <thead>
            <tr>
                <th>Recommandation</th><th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for index, item in enumerate(cart_items) %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
